<div class="header-wrapper">
    <h1 class="header-content">Hotel "{{selectedHotel.title}}"</h1>

</div>
{{#if currentUser.isAdmin}}
    <div style="text-align: center">
        <button style="background: #f44336" class="button" onclick="document.getElementById('id02').style.display='block'" >Delete Hotel</button>
    </div>
{{/if}}
<div id="id02" class="conf-modal">
    <div class="container">
        <form class="modal-content animate" action="/delete/{{selectedHotel._id}}" method="POST">
            <h2 style="text-align: center">Are you sure you want to delete this entity?</h2>
            <button type="submit" style="background: #f44336" class="button">Delete</button>
            <button type="button" style="background: grey" class="button" onclick="document.getElementById('id02').style.display='none'">Back</button>
        </form>
    </div>
</div>



    <p class="info"><b>Location: </b>{{selectedHotel.location}}</p>
    <img class="hotelImg" src="{{selectedHotel.image}}" alt="hotel image" style="width: 50%;">
    <p class="info"><b>Description: </b>{{selectedHotel.description}}</p>
{{#if currentUser.isBlocked}}
    <p class="alert" style="text-align: center">You cannot like this post.</p>
    <div>
        <span class="info"><span style="float: right; margin-left: 10px"><b>Likes: </b>{{selectedHotel.likes}}</span> <span style="float: right"><b>Views: </b>{{selectedHotel.views}}</span></span>
    </div>
{{else}}
    <div>
        <span class="info"><a  href="like/{{selectedHotel._id}}"><b>Like</b></a> <span style="float: right; margin-left: 10px"><b>Likes: </b>{{selectedHotel.likes}}</span> <span style="float: right"><b>Views: </b>{{selectedHotel.views}}</span></span>
    </div>
{{/if}}
<br><br>
<div class="header-wrapper">
    <h2 class="header-content">Post a comment</h2>
</div>
{{#if currentUser.isBlocked}}
    <p class="alert" style="text-align: center">You cannot post comments on this post.</p>
{{else}}
    <div class="login-page">
        <div class="form">
            <form action="/comment/{{selectedHotel._id}}" method="POST" class="create-form">
                <input type="text" name='title' placeholder="Title" />
                <input style="display:none" type="text" name='userName' value="{{currentUser.username}}" placeholder="{{currentUser.username}}" />
                <textarea name="comment" id="" cols="35" rows="10" placeholder="" style=" width: 99.6%;"></textarea>
                <br>
                <button type="submit">Comment</button>
            </form>
        </div>
    </div>
{{/if}}

<br><br>
<div class="header-wrapper">
    <h2 class="header-content">Comments</h2>
</div>
{{#if selectedHotel.reviews}}
    {{#each selectedHotel.reviews}}
        <fieldset>
            <legend>
                <p class="info"><b>{{this.userName}}</b></p>
            </legend>
            <p class="success"><b>Comment: </b>{{this.userComment}}</p>
            <p class="warning"><b>Date Posted: </b>{{this.datePosted}}</p>
        </fieldset>
    {{/each}}
{{else}}
    <p class="warning">No comments yet. Be the first to add one!</p>
{{/if}}

<script>
    function goBack() {
        window.history.back();
    }

    function revealConfirm() {
        // Get the modal
        let modal = document.getElementById('id02');

// When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    }
    // Get the modal
    let modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

