<form method="post" action="/editProduct/{{doner._id}}">
    <h2>Edit Product</h2>
    <div>
        <label for="category">Category</label>
        <select name="category" id="category">
            <option class="capitalize" value="{{doner.category}}" selected>{{doner.category}}</option>
            <option value="beef">Beef</option>
            <option value="chicken">Chicken</option>
            <option value="lamb">Lamb</option>
        </select>
    </div>
    <div>
        <label for="image">Image Url</label>
        <input id="image" name="image" type="text" value="{{doner.image}}">
    </div>
    <div>
        <label for="size">Size</label>
        <input id="size" name="size" type="number" value="{{doner.size}}">
    </div>
    <br>
    <div>
        <strong>Toppings</strong><br><br>
        <textarea name="toppings" placeholder="Add toppings, separated with a comma. (example: cheese, tomatoes, cucumbers, ...)">{{toppingsList}}</textarea>
    </div>
    <div>
        <input type="submit" value="Edit" class="button" style="border:0"/>
    </div>
</form>