<div class="header-wrapper">
    <h1 class="header-content">My cars:</h1>
</div>
<br>
{{#if cars}}
    {{#each cars}}
        <div style="display: inline; text-align: center; marginleft: 50%" >
            <p class="info" style="width: 20%; text-align:center; margin-left:40%"><b>Brand: </b>{{this.mark}}</p>
            <p class="info" style="width: 20%; text-align:center; margin-left:40%"><b>Model: </b>{{this.model}}</p>
            <div>
                <img src="{{this.image}}" alt="{{this.mark}} {{this.model}} image" width="30%">
            </div>
            <p class="info" style="width: 20%; text-align:center; margin-left:40%"><b>Year: </b>{{this.year}}</p>
            <p class="info" style="width: 20%; text-align:center; margin-left:40%"><b>Price: </b>${{this.price}}</p>
            <br>
            <div>
                <a class="button" style="text-decoration: none; margin-top: 50px !important" href="/edit/{{this.id}}">Details</a>
            </div>
            <br><br>
        </div>
    {{/each}}
{{else}}
    <div style="text-align: center">
        <p style="text-align: center" class="warning"><i>You don't have any cars. Go add some.</i></p>
    </div>
{{/if}}
